main {
    width: 80%;
    margin: 1rem auto;
    background-color: white;
}

.puppyName{
    margin: 0 0.5rem;
    margin-left: 0.5rem;
}

.button{
    margin: 0 0.3rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

}

.template {
    display: none;
}

.puppy.fav {
    background-color: lightseagreen;
    border-color: lightseagreen;
}

.header {
    text-align: center;
}